body {
    font-family: "Hiragino Kaku Gothic ProN", "Yu Gothic", "Meiryo", sans-serif;
    background-color: #dddddd;
    margin: 0 auto;
    max-width: 1000px;
    padding: 50px 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 20px;
}

.ryo {
    color: red;
    text-decoration: underline;
}

.tyu {
    color: brown;
}

/* ボタン */
button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    color: #666666;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}

.submit-botton {
    text-align: center;
}

/* チェックボックス修正 */
.checkbox {
    width: 30px;
    height: 30px;
}

td {
    border: 1px solid #888888;
    padding: 6px;
}

table {
    border-collapse: collapse;
    border: 2px solid #888888;
}

h1 {
    text-align: center;
    border-bottom: solid 4px #17aab5;
}

h2 { font-size: 26px; text-align: center; }
h3 { font-size: 24px; }
p  { font-size: 22px; }
li { font-size: 20px; }
a  { font-size: 25px; }

/* footer */
.footer {
    color: #dddddd;
    background-color: black;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    position: relative;
    bottom: 0;
}

/* スマホ */
@media (max-width: 768px) {
    body {
        padding: 20px;
        max-width: 1200px;
        margin: 0;
    }

    h1 { font-size: 24px; }
    h2 { font-size: 18px; }
    h3 { font-size: 26px; }
    p  { font-size: 18px; }
    li { font-size: 20px; }

    button {
        width: 100%;
        padding: 15px;
    }

    table {
        width: 100%;
    }

    .footer {
        font-size: 14px;
    }

    .footer img {
        height: 100px;
        width: auto;
    }
}
